* {

    margin: 0%;
    padding: 0%;

}

body {
    background-color: #2e332b;
}
.header {
    background: url(img/header/header.png);
    position: sticky;
    top: 0em;
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
    h1 {
        color: aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 7%;
        width: 7%;
    }
.footer {
    background: url(img/footer/footer.png);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
    p {
        color:aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: large;
     }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 7%;
        width: 7%;
    }
    a {
        color:darkgray;
    }
.block_one {
    background: url(img/block/welcome_block.png);
    background-repeat: repeat;
    background-size: auto;
     width: 100%;
     height: 30%;
}
    h2 {
        color:aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: large;
    }
    p {
        color:aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: large;
      }
      .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 7%;
        width: 7%;
     }
     .landinglink {
        color:bisque;
     }
.block_two {
    background: url(img/block/mail_block.png);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
    .h2_footer {
        color:aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: medium
    }
    p {
        color:aliceblue;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
        font-size: large;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 7%;
        width: 7%;
    }
    .gmailsend {
        color:aquamarine;
    }
.flexsocial {
    display: flex;
    justify-content: center;
    height: 100%;
}
    .social {
        height: 10%;
        width: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .tme {
        color:aquamarine;
    }
.block_three {
    background: url(img/block/social_block.png);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
.block_four {
    background: url(img/block/github_block.png);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
    .github {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    * {
        box-sizing: border-box;
      }
  .block_five {
  background: url(img/block/block5.png);
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 30%;
}
    video {
        height: 50%;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }