@font-face {
    font-family: 'Rostov';
    src: url(fonts/20421.ttf);
}
body {
    background-color: rgb(52, 52, 52);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Rostov';
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    border: 10px;
    border-color: aliceblue;
    font-size: 40px;
}
a {
    padding-left: 50px;

    color: rgb(224, 222, 255);
    font-size: 20px;
    text-decoration: none;
}
.main {
    padding-left: 350px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img {
    height: 50%;
    width: 50%;
    border-radius: 110px;
}